{:deps {io.github.amiorin/once {:git/sha "9ec8356130d8536dc0458b5418ac33b59745c36d"
                                #_#_:local/root "../once/main"}}
 :tasks
 {:requires ([io.github.amiorin.once.package :as pkg]
             [io.github.amiorin.once.tools :as tools]
             [io.github.amiorin.once.params :as params])
  :init (def options {:big-config.render/profile "once-forms"
                      :big-config.workflow/params
                      {:domain "bigconfig.website"
                       :package "package"
                       :once {:applications [{:host "forms.bigconfig.website"
                                              :image "ghcr.io/amiorin/once-form-handler:latest"
                                              :env ["TARGET_EMAIL=forms@albertomiorin.com"]}]}
                       :provider-backend "s3"
                       :s3-bucket "tf-state-251213589273-eu-west-1"
                       :s3-region "eu-west-1"
                       :provider-dns "cloudflare"
                       :provider-smtp "resend"
                       :resend-server "smtp.resend.com"
                       :resend-port 587
                       :resend-username "resend"
                       :provider-compute "oci"
                       :oci-config-file-profile "DEFAULT"
                       :oci-subnet-id "ocid1.subnet.oc1.eu-frankfurt-1.aaaaaaaaotya32pihejgi25vrdfnjda3qg52kpsjnd7od5oiqifbsi4rqqma"
                       :oci-compartment-id "ocid1.tenancy.oc1..aaaaaaaal4wmmpzv2fzkdz2vrfdizywgzjid6dqlgcankrrr7jyydo7ozb3a"
                       :oci-availability-domain "xTQn:EU-FRANKFURT-1-AD-1"
                       :oci-display-name "once-forms"
                       :oci-shape "VM.Standard.A1.Flex"
                       :oci-ocpus 1
                       :oci-memory-in-gbs 6
                       :oci-boot-volume-size-in-gbs 50
                       :oci-boot-volume-vpus-per-gb 30
                       :oci-ssh-authorized-keys "~/.ssh/id_ed25519.pub"}})
  tidy {:doc "tidy clojure files"
        :task (do (shell "clojure-lsp clean-ns")
                  (shell "clojure-lsp format"))}
  ansible {:doc "bb ansible"
           :task (tools/ansible* "render -- ansible-playbook main.yml" (params/once-opts options))}
  package {:doc "bb package"
           :task (pkg/once* "create" options)}}}
